.newMengban {
  background: rgba(0, 0, 0, 0.5) repeat 0 0;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9996;
  width: 100%;
  height: 100%;
}
.newMengban .newMengbanCenter {
  width: 760px;
  height: 514px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  font-size: 14px;
  background-color: #ffffff;
}
.newMengban .newMengbanCenter .newtop {
  height: auto;
  width: 100%;
  background: #64c4dd;
}
.newMengban .newMengbanCenter .newtop .newtopTxt {
  width: 100px;
  line-height: 40px;
  color: white;
  font-size: 16px;
  margin-left: 20px;
}
.newMengban .newMengbanCenter .newtop .newtopX {
  width: 40px;
  line-height: 40px;
  float: right;
  margin-right: 20px;
  font-size: 31px;
  font-weight: bold;
  color: white;
  text-align: center;
  cursor: pointer;
}
.newMengban .newMengbanCenter .newForm {
  width: 760px;
  height: 420px;
  background-color: #ffffff;
  margin-top: 10px;
}
.newMengban .newMengbanCenter .newForm form {
  width: 720px;
  height: 420px;
  margin: 0 auto;
}
.newMengban .newMengbanCenter .newForm form div {
  float: left;
}
.newMengban .newMengbanCenter .newForm form .fromLeft {
  list-style: none;
  width: 338px;
  height: 420px;
}
.newMengban .newMengbanCenter .newForm form .fromLeft p {
  width: 100%;
  line-height: 52px;
}
.newMengban .newMengbanCenter .newForm form .fromLeft p label {
  line-height: 28px;
  width: 65px;
  font-size: 14px;
  float: left;
  font-weight: 500;
}
.newMengban .newMengbanCenter .newForm form .fromLeft p label b {
  color: red;
  float: right;
}
.newMengban .newMengbanCenter .newForm form .fromLeft p .selectBg {
  background: url("images/select-3_03.png") no-repeat center right;
  background-size: 28px 28px;
  width: 268px;
  height: 28px;
  float: right;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.newMengban .newMengbanCenter .newForm form .fromLeft p input {
  width: 268px;
  height: 28px;
  float: right;
}
.newMengban .newMengbanCenter .newForm form .fromLeft p .user_box {
  visibility: hidden;
}
.newMengban .newMengbanCenter .newForm form .fromLeft p .user_box {
  float: right;
  margin-right: 8px;
  line-height: 24px;
  height: 24px;
  width: 100%;
  text-align: right;
  padding-right: 8px;
  color: red;
}
.newMengban .newMengbanCenter .newForm form .fromMid {
  width: 1px;
  height: 382px;
  margin-top: 14px;
  background: #eaedf1;
  margin-left: 20px;
  margin-right: 18px;
}
.newMengban .newMengbanCenter .newForm form .fromRight {
  list-style: none;
  width: 338px;
  height: 420px;
}
.newMengban .newMengbanCenter .newForm form .fromRight p {
  width: 100%;
  line-height: 52px;
}
.newMengban .newMengbanCenter .newForm form .fromRight p label {
  line-height: 28px;
  width: 65px;
  font-size: 14px;
  float: left;
  font-weight: 500;
}
.newMengban .newMengbanCenter .newForm form .fromRight p label b {
  color: red;
  float: right;
}
.newMengban .newMengbanCenter .newForm form .fromRight p .selectBg {
  background: url("images/select-3_03.png") no-repeat center right;
  background-size: 30px 28px;
  width: 268px;
  height: 28px;
  float: right;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.newMengban .newMengbanCenter .newForm form .fromRight p input {
  width: 268px;
  height: 28px;
  float: right;
}
.newMengban .newMengbanCenter .newForm form .fromRight p .user_box {
  visibility: hidden;
}
.newMengban .newMengbanCenter .newForm form .fromRight p .user_box {
  float: right;
  margin-right: 8px;
  line-height: 24px;
  width: 100%;
  text-align: right;
  padding-right: 8px;
  color: red;
}
.newMengban .newMengbanCenter .newForm form .fromBottom {
  height: 44px;
  width: 100%;
}
.newMengban .newMengbanCenter .newForm form .fromBottom span {
  width: 54px;
  line-height: 28px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  float: right;
  cursor: pointer;
}
.newMengban .newMengbanCenter .newForm form .fromBottom .newSure input {
  width: 54px;
  line-height: 28px;
  border-radius: 4px;
  text-align: center;
  background: #74cf84;
  color: white;
  border: none;
}
.newMengban .newMengbanCenter .newForm form .fromBottom .newCox {
  background: #f6f7f8;
  border: 1px solid gray;
  margin-left: 10px;
  margin-right: 6px;
}
