.workordermager {
  height: 310px;
  width: 100%;
  margin-top: 16px;
  background: #ffffff;
}
.workordermager .topWorkordermager {
  width: 290px;
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #eaedf1;
  background: #ffffff url("../images/gongdanGl.png") no-repeat center left;
}
.workordermager .centerWorkordermager {
  width: 290px;
  height: 124px;
  margin: 0 auto;
  display: -webkit-box;
}
.workordermager .centerWorkordermager div {
  -webkit-box-flex: 1;
  text-align: center;
  width: 0;
}
.workordermager .centerWorkordermager div div {
  border-bottom: 1px dashed #eaedf1;
  width: 100px;
  margin: 0 auto;
  text-align: center;
}
.workordermager .centerWorkordermager div div .numWorkOder {
  color: #6991ee;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}
.workordermager .centerWorkordermager div div .txtWorkOder {
  color: #6991ee;
  margin-bottom: 12px;
}
.workordermager .centerWorkordermager div .aleadyFeipei {
  color: #999999;
  margin-top: 6px;
}
.workordermager .footWorkordermager {
  width: 290px;
  height: 124px;
  margin: 0 auto;
  display: -webkit-box;
}
.workordermager .footWorkordermager div {
  -webkit-box-flex: 1;
  text-align: center;
  width: 0;
}
.workordermager .footWorkordermager div div {
  border-bottom: 1px dashed #eaedf1;
  width: 100px;
  margin: 0 auto;
  height: 84px;
  text-align: center;
}
.workordermager .footWorkordermager div div .numWorkOder {
  color: #6991ee;
  font-size: 30px;
  margin-bottom: 0;
}
.workordermager .footWorkordermager div div .txtWorkOder {
  color: #6991ee;
}
.workordermager .footWorkordermager div div .inptcreatOder {
  width: 100%;
  line-height: 40px;
  background: #74CF84;
  border-radius: 4px;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.workordermager .footWorkordermager div .aleadyFeipei {
  color: #999999;
  margin-top: 6px;
}
